In [ ]:
import numpy as np

In [1]:
import pandas as pd

In [2]:
import os

In [7]:
os.listdir("../data/biometric")

['api_data_aadhar_biometric_0_500000.csv',
 'api_data_aadhar_biometric_1000000_1500000.csv',
 'api_data_aadhar_biometric_1500000_1861108.csv',
 'api_data_aadhar_biometric_500000_1000000.csv']

In [6]:
os.listdir("../data/demographic")

['api_data_aadhar_demographic_0_500000.csv',
 'api_data_aadhar_demographic_1000000_1500000.csv',
 'api_data_aadhar_demographic_1500000_2000000.csv',
 'api_data_aadhar_demographic_2000000_2071700.csv',
 'api_data_aadhar_demographic_500000_1000000.csv']

In [8]:
os.listdir("../data/enrolment")

['api_data_aadhar_enrolment_0_500000.csv',
 'api_data_aadhar_enrolment_1000000_1006029.csv',
 'api_data_aadhar_enrolment_500000_1000000.csv']

In [9]:
import pandas as pd
import os

# Folder path
bio_folder = "../data/biometric"

# List all CSV files in biometric folder
bio_files = os.listdir(bio_folder)
print(bio_files)

# Read and combine all CSVs
bio_dfs = []

for file in bio_files:
    path = os.path.join(bio_folder, file)
    print("Loading:", path)
    df = pd.read_csv(path)
    bio_dfs.append(df)

biometric = pd.concat(bio_dfs, ignore_index=True)

print("Biometric dataset shape:", biometric.shape)
print(biometric.head())
print(biometric.columns)

['api_data_aadhar_biometric_0_500000.csv', 'api_data_aadhar_biometric_1000000_1500000.csv', 'api_data_aadhar_biometric_1500000_1861108.csv', 'api_data_aadhar_biometric_500000_1000000.csv']
Loading: ../data/biometric\api_data_aadhar_biometric_0_500000.csv
Loading: ../data/biometric\api_data_aadhar_biometric_1000000_1500000.csv
Loading: ../data/biometric\api_data_aadhar_biometric_1500000_1861108.csv
Loading: ../data/biometric\api_data_aadhar_biometric_500000_1000000.csv
Biometric dataset shape: (1861108, 6)
         date              state      district  pincode  bio_age_5_17  \
0  01-03-2025            Haryana  Mahendragarh   123029           280
1  01-03-2025              Bihar     Madhepura   852121           144
2  01-03-2025  Jammu and Kashmir         Punch   185101           643
3  01-03-2025              Bihar       Bhojpur   802158           256
4  01-03-2025         Tamil Nadu       Madurai   625514           271

   bio_age_17_
0          577
1          369
2         1091
3          980
4          815
Index(['date', 'state', 'district', 'pincode', 'bio_age_5_17', 'bio_age_17_'], dtype='object')

In [10]:
demo_folder = "../data/demographic"
demo_files = os.listdir(demo_folder)

demo_dfs = []
for file in demo_files:
    path = os.path.join(demo_folder, file)
    print("Loading:", path)
    df = pd.read_csv(path)
    demo_dfs.append(df)

demographic = pd.concat(demo_dfs, ignore_index=True)

print("Demographic dataset shape:", demographic.shape)
print(demographic.head())
print(demographic.columns)

Loading: ../data/demographic\api_data_aadhar_demographic_0_500000.csv
Loading: ../data/demographic\api_data_aadhar_demographic_1000000_1500000.csv
Loading: ../data/demographic\api_data_aadhar_demographic_1500000_2000000.csv
Loading: ../data/demographic\api_data_aadhar_demographic_2000000_2071700.csv
Loading: ../data/demographic\api_data_aadhar_demographic_500000_1000000.csv
Demographic dataset shape: (2071700, 6)
         date           state    district  pincode  demo_age_5_17  \
0  01-03-2025   Uttar Pradesh   Gorakhpur   273213             49
1  01-03-2025  Andhra Pradesh    Chittoor   517132             22
2  01-03-2025         Gujarat      Rajkot   360006             65
3  01-03-2025  Andhra Pradesh  Srikakulam   532484             24
4  01-03-2025       Rajasthan     Udaipur   313801             45

   demo_age_17_
0           529
1           375
2           765
3           314
4           785
Index(['date', 'state', 'district', 'pincode', 'demo_age_5_17',
       'demo_age_17_'],
      dtype='object')

In [11]:
enrol_folder = "../data/enrolment"
enrol_files = os.listdir(enrol_folder)

enrol_dfs = []
for file in enrol_files:
    path = os.path.join(enrol_folder, file)
    print("Loading:", path)
    df = pd.read_csv(path)
    enrol_dfs.append(df)

enrolment = pd.concat(enrol_dfs, ignore_index=True)

print("Enrolment dataset shape:", enrolment.shape)
print(enrolment.head())
print(enrolment.columns)

Loading: ../data/enrolment\api_data_aadhar_enrolment_0_500000.csv
Loading: ../data/enrolment\api_data_aadhar_enrolment_1000000_1006029.csv
Loading: ../data/enrolment\api_data_aadhar_enrolment_500000_1000000.csv
Enrolment dataset shape: (1006029, 7)
         date          state          district  pincode  age_0_5  age_5_17  \
0  02-03-2025      Meghalaya  East Khasi Hills   793121       11        61
1  09-03-2025      Karnataka   Bengaluru Urban   560043       14        33
2  09-03-2025  Uttar Pradesh      Kanpur Nagar   208001       29        82
3  09-03-2025  Uttar Pradesh           Aligarh   202133       62        29
4  09-03-2025      Karnataka   Bengaluru Urban   560016       14        16

   age_18_greater
0              37
1              39
2              12
3              15
4              21
Index(['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17',
       'age_18_greater'],
      dtype='object')

In [13]:
biometric["date"] = pd.to_datetime(biometric["date"], dayfirst=True)
print(biometric["date"].dtype)

datetime64[ns]

In [14]:
demographic["date"] = pd.to_datetime(demographic["date"], dayfirst=True)
print(demographic["date"].dtype)

datetime64[ns]

In [15]:
enrolment["date"] = pd.to_datetime(enrolment["date"], dayfirst=True)
print(enrolment["date"].dtype)

datetime64[ns]

In [23]:
biometric["total_bio_updates"] = biometric["bio_age_5_17"] + biometric["bio_age_17_"]
biometric[["bio_age_5_17", "bio_age_17_", "total_bio_updates"]].head()

   bio_age_5_17  bio_age_17_  total_bio_updates
0           280          577                857
1           144          369                513
2           643         1091               1734
3           256          980               1236
4           271          815               1086

In [24]:
enrolment["total_enrolment"] = (
    enrolment["age_0_5"] +
    enrolment["age_5_17"] +
    enrolment["age_18_greater"]
)

In [25]:
demographic["total_demo_updates"] = demographic["demo_age_5_17"] + demographic["demo_age_17_"]

In [31]:
biometric_agg = biometric.groupby(
    ["date", "state", "district"], as_index=False
)["total_bio_updates"].sum()

print(biometric_agg.shape)
print(biometric_agg.head())

(79794, 4)
        date                        state                  district  \
0 2025-03-01    Andaman & Nicobar Islands                  Andamans
1 2025-03-01  Andaman and Nicobar Islands                   Nicobar
2 2025-03-01  Andaman and Nicobar Islands  North And Middle Andaman
3 2025-03-01  Andaman and Nicobar Islands             South Andaman
4 2025-03-01               Andhra Pradesh                  Adilabad

   total_bio_updates
0                209
1                279
2                817
3               1398
4               5263

In [27]:
biometric_agg.sort_values("total_bio_updates", ascending=False).head(10)

           date           state          district  total_bio_updates
3978 2025-07-01     Maharashtra            Nashik              83938
3982 2025-07-01     Maharashtra              Pune              83000
3990 2025-07-01     Maharashtra             Thane              74661
3107 2025-06-01     Maharashtra              Pune              69249
899  2025-04-01  Andhra Pradesh           Kurnool              67938
479  2025-03-01     Maharashtra              Pune              66091
3699 2025-07-01         Gujarat         Ahmedabad              65705
1064 2025-04-01           Delhi  North West Delhi              65071
1946 2025-05-01         Gujarat         Ahmedabad              64796
1353 2025-04-01     Maharashtra              Pune              63875

In [28]:
print(biometric_agg.shape)

(79794, 4)

In [29]:
demographic_agg = demographic.groupby(
    ["date", "state", "district"], as_index=False
)["total_demo_updates"].sum()

print(demographic_agg.shape)
print(demographic_agg.head())

(86125, 4)
        date                        state                  district  \
0 2025-03-01  Andaman and Nicobar Islands                   Nicobar
1 2025-03-01  Andaman and Nicobar Islands  North And Middle Andaman
2 2025-03-01  Andaman and Nicobar Islands             South Andaman
3 2025-03-01               Andhra Pradesh                  Adilabad
4 2025-03-01               Andhra Pradesh     Alluri Sitharama Raju

   total_demo_updates
0                 392
1                 422
2                 524
3                4340
4                4955

In [32]:
enrolment_agg = enrolment.groupby(
    ["date", "state", "district"], as_index=False
)["total_enrolment"].sum()

print(enrolment_agg.shape)
print(enrolment_agg.head())

(66749, 4)
        date      state          district  total_enrolment
0 2025-03-02  Meghalaya  East Khasi Hills              109
1 2025-03-09      Bihar         Bhagalpur               71
2 2025-03-09      Bihar         Madhubani              160
3 2025-03-09      Bihar   Purbi Champaran              190
4 2025-03-09      Bihar         Sitamarhi              584

In [36]:
enrolment["date"] = pd.to_datetime(enrolment["date"], dayfirst=True)

In [34]:
enrolment["total_enrolment"] = (
    enrolment["age_0_5"] +
    enrolment["age_5_17"] +
    enrolment["age_18_greater"]
)

In [35]:
enrolment_agg = enrolment.groupby(
    ["date", "state", "district"], as_index=False
)["total_enrolment"].sum()

print(enrolment_agg.shape)
print(enrolment_agg.head())

(66749, 4)
        date      state          district  total_enrolment
0 2025-03-02  Meghalaya  East Khasi Hills              109
1 2025-03-09      Bihar         Bhagalpur               71
2 2025-03-09      Bihar         Madhubani              160
3 2025-03-09      Bihar   Purbi Champaran              190
4 2025-03-09      Bihar         Sitamarhi              584

In [37]:
print(demographic.columns)

Index(['date', 'state', 'district', 'pincode', 'demo_age_5_17', 'demo_age_17_',
       'total_demo_updates'],
      dtype='object')

In [38]:
demographic["date"] = pd.to_datetime(demographic["date"], dayfirst=True)

In [39]:
demographic["total_demo_updates"] = (
    demographic["demo_age_5_17"] +
    demographic["demo_age_17_"]
)

In [40]:
demographic_agg = demographic.groupby(
    ["date", "state", "district"], as_index=False
)["total_demo_updates"].sum()

print(demographic_agg.shape)
print(demographic_agg.head())

(86125, 4)
        date                        state                  district  \
0 2025-03-01  Andaman and Nicobar Islands                   Nicobar
1 2025-03-01  Andaman and Nicobar Islands  North And Middle Andaman
2 2025-03-01  Andaman and Nicobar Islands             South Andaman
3 2025-03-01               Andhra Pradesh                  Adilabad
4 2025-03-01               Andhra Pradesh     Alluri Sitharama Raju

   total_demo_updates
0                 392
1                 422
2                 524
3                4340
4                4955

In [41]:
master = enrolment_agg.merge(
    demographic_agg,
    on=["date", "state", "district"],
    how="inner"
).merge(
    biometric_agg,
    on=["date", "state", "district"],
    how="inner"
)

print(master.shape)
print(master.head())

(52676, 6)
        date         state    district  total_enrolment  total_demo_updates  \
0 2025-04-01         Assam  Bongaigaon              369                4355
1 2025-04-01         Bihar   Bhagalpur             1238                5302
2 2025-04-01    Chandigarh  Chandigarh              117               14885
3 2025-04-01  Chhattisgarh        Durg              384                6115
4 2025-04-01  Chhattisgarh      Raipur              322               10348

   total_bio_updates
0               5647
1              24587
2               7921
3              19191
4              19183